%table#massGrade  
  %tr.user= grade.user.name
  %tr
    %td.score= form.input :score
    %td.feedback= form.input :feedback, :as => :ckeditor
  %tr#badgeSelection= form.input :badges, :as => :check_boxes, :collection => @badges
