%li= grade.user.name
= form.input :score, :as => :check_boxes, :collection=> ["Complete"], :label => "", :value => "complete"
= form.input :level, :as => :check_boxes, :collection => [["Semi-Finalist", "semifinalist"], ["Finalist", "finalist"]]