%li= grade.user.name
= form.input :complete, :as => :boolean, :label => "Complete", :value => "1"
= form.input :semis, :as => :boolean, :label => "Semi-Finalist", :value => "1"
= form.input :finals, :as => :boolean, :label => "Finalist", :value => "1"