= render 'form'

%div#footerNav
  //TODO Wrong path
  = link_to 'Back', assignment_grades_url, :class => 'btn btn-primary'
  = link_to 'View', assignment_grades_path(@grade), :class => 'btn btn-primary'
