%div.span12
  = link_to 'Back', assignment_path(@assignment), :class => 'btn btn-info btn-small'
  = link_to 'View', assignment_grade_path(@assignment, @grade), :class => 'btn btn-info btn-small'

= render 'form'