= render 'form'

%div#footerNav
  = link_to 'Back', assignment_path(@assignment), :class => 'btn btn-primary'
  = link_to 'View', assignment_grade_path(@assignment, @grade), :class => 'btn btn-primary'
