%table.table.table-bordered
  %thead
    %tr
      %th #{current_course.user_term}
      - for assignment in @assignments
        %th= assignment.title
    - @students.each do |student|
      %tr 
        %td= student.name
        - student.grades.each do |grade|
          %td= grade.score

%div#footerNav
