%table.table.table-bordered
  %thead
    %tr
      %th #{current_course.user_ref}
      - for assignment in @assignments
        %th= assignment.name
    - @students.each do |student|
      %tr 
        %td= link_to student.name, user_path(student)
        - @assignments.each do |assignment|
          - student.grade_for_assignment(assignment).tap do |grade|
            - if grade
              %td= grade.score
            - else
              %td

%div#footerNav
