%table
  %tr
    %th Student
    %th Assignment
    %th Score
    %th Feedback
    %th Badge
    %th
    %th
    %th

  - @grades.each do |grade|
    %tr
      %td= grade.user.username
      %td= grade.assignment.title

%br

= link_to 'New Grade', new_grade_path
