= link_to 'View', course_grade_scheme_course_grade_scheme_element_path(@course_grade_scheme, @course_grade_scheme_element), :class => 'btn btn-primary'
= link_to 'Back', course_grade_scheme_path(@course_grade_scheme), :class => 'btn btn-primary'

= render 'form'
  
