= simple_form_for(@team, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name

  = submit_tag 'Create', :class => 'btn btn-primary'
  or
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'