%p
  %b Points: 
  = @team.score
%p
  %b Rank:
%p
  %b Badges:
  - @team.earned_badges.each do |badge|
    %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
    = @team.earned_badges.count


%div.span12
  = link_to 'Edit', edit_team_path(@team), :class => "btn btn-primary"
  = link_to 'Back', teams_path, :class => "btn btn-primary"
