%h1 Listing user_assignment_type_weights

%table
  %tr
    %th
    %th
    %th

  - @user_assignment_type_weights.each do |user_assignment_type_weight|
    %tr
      %td= link_to 'Show', user_assignment_type_weight
      %td= link_to 'Edit', edit_user_assignment_type_weight_path(user_assignment_type_weight)
      %td= link_to 'Destroy', user_assignment_type_weight, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User assignment type weight', new_user_assignment_type_weight_path
