

%div#footerNav
  = link_to 'Edit', edit_user_assignment_type_weight_path(@user_assignment_type_weight), :class => 'btn btn-primary'
  = link_to 'Back', user_assignment_type_weights_path, :class => 'btn btn-primary'
