= form.input :point_total, :as => :numeric
= form.input :due_date, :as => :datetime
= form.input :type, :as => :select, :collection => [["Standard", "Standard"], [""Reading Reaction", "ReadingReaction"], ["Blogging", "Blogging"], ["Attendance", "Attendance"]]
