= form.input :point_total, :as => :number
= form.input :due_date, :as => :datetime
= form.input :type, :as => :select, :collection => [["Standard", "Standard"],["Blogging"],["ReadingReaction"],["Attendance"]]
