= semantic_form_for @assignment.becomes(Assignment) do |f|
  .text= f.input :due_date, :as => :date, :discard_year => true, :label => "Class Date"
  = f.input :type, :as => :hidden, :value => "Attendance"
