= simple_form_for(@assignment, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :title
  
  = f.button :submit, :class => 'btn btn-primary'
  = link_to 'Cancel', assignments_path, :class => 'btn btn-primary'
