- if current_user.is_staff?
  %div.span2= render 'layouts/admin_subnav'

%div.span8
  = render 'form'

  %div.span12
    = link_to 'View', [:show, @earnable, :earned_badge], :class => "btn btn-inverse"
    = link_to 'Back', [:index, @earnable, :earned_badge], :class => "btn btn-inverse"
