= render 'form'

%div#footerNav
  = link_to 'View', badge_set_badge_path(@badge_set, badge), {:class => 'btn btn-primary'}
  = link_to 'Back', badge_set_path(@badge_set), {:class => 'btn btn-primary'}
