%p
  %b Name:
  = @badge_set.name
%p
  %b Notes:
  = @badge_set.notes

%div#footerNav
  = link_to 'Edit', edit_badge_set_path(@badge_set), {:class => 'btn btn-primary'}
  = link_to 'Back', badge_sets_path, {:class => 'btn btn-primary'}
