%table.table.display.table-bordered#sortableTable.tablesorter
  %thead
    %tr
      %th Username
      %th Current Score
      %th Final Grade
  %tbody
    - current_course.users.each do |user|
      %tr
        %td= user.username
        %td
          //= number_with_delimiter(user.earned_grades(current_course))
        %td
          //= current_course.grade_level(user)