%div#predictorWrapper
  %div#predictionWrapper
    %div#projectedPoints
      %span#pointsArw
      %p= #{current_user.name}'s total projected points: 
      %span#expectedPointsValue
    %div#prediction 
      %div#score    
