%div#homeIntro
  -if current_user
    %h2 Welcome to class!
    %p< Why are videogames fun? The answer isn’t as obvious as you might think. Good games draw you in, teach you how to succeed, and keep you engaged with a “just right” level of challenge. Most importantly, players learn while playing a well-designed game. Why isn’t school like that? This class takes a close look at videogames, a close look at education, and considers ways that each can be improved to maximize learning and performance.
  
  -else
    %h2 Welcome to EDUC 222: Videogames and Learning!
    %p< Why are videogames fun? The answer isn’t as obvious as you might think. Good games draw you in, teach you how to succeed, and keep you engaged with a “just right” level of challenge. Most importantly, players learn while playing a well-designed game. Why isn’t school like that? This class takes a close look at videogames, a close look at education, and considers ways that each can be improved to maximize learning and performance.