- if current_user
  - if current_course
    = render "info/#{current_user.role}_dashboard", :user => @user, :assignments => current_course.assignments
  - else
    %p Your account hasn't yet been connected to any courses. Contact us for help!
- else
  %div.hero-unit
    %h1 Welcome to GradeCraft
    %br
    %h4 To explore the GradeCraft demo:
    %br
    
    %div.login-demo.teacher
      %h6 As A Teacher
      %div.demo-content
        Username: dumbledore@hogwarts.edu
        %br
        Password: fawkes
    %div.login-demo.student
      %h6 AS A STUDENT
      %div.demo-content
        Username: hermione.granger@hogwarts.edu
        %br
        Password: uptonogood