%div.hero-unit.span11
  - if current_user
    - if current_course
      = render 'info/dashboard', :user => @user, :assignments => @assignments
        
    - else
      %p Your account hasn't yet been connected to any courses. Contact us for help!
  - else
    %h1 Welcome to GradeCraft 
    %br
    %p Log in to build your grade