%div#primaryContent
  %h1#user Current User | Team Name

  %h2#points Current Points Total/Available Points

  %h2#grading Grades & Assignments

  %h3#attendance Attendance

  %h3#reading Reading Reactions

  %h3#blogging Blogging

  %h3.papers Game Selection Paper

  %h3.papers Game Play Update Poster 1

  %h3.papers Game Play Update Poster 2

  %h3.papers Game Play Reflection Paper

  %h3.papers Individual Paper/Project 1

  %h3.papers Individual Paper/Project 2

  %h3.papers Group Game Design Project