= simple_form_for(@grade_scheme, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :assignment, :collection => @assignments
  
  = f.button :submit, :class => 'btn btn-primary'
  = link_to 'Cancel', grade_schemes_path, :class => 'btn btn-primary'