= simple_form_for(@grade_scheme, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :assignment, :collection => @assignments
  
  = submit_tag 'Create', :class => 'btn btn-primary'
  or
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'