%div.span2= render 'layouts/admin_subnav'

%div.span8
  = render 'form'

  = link_to 'View', @grade_scheme, :class => 'btn btn-primary'
  = link_to 'Back', grade_schemes_path, :class => 'btn btn-primary'