%p
  %b Assignment:
  = @grade_scheme.scheme_name

%div#footerNav
  = link_to 'Edit', edit_grade_scheme_path(@grade_scheme), :class => 'btn btn-primary'
  = link_to 'Back', grade_schemes_path, :class => 'btn btn-primary'
