= link_to 'View', assignment_assignment_submission_path(@assignment, @assignment_submission), {:class => 'btn btn-info btn-small'}
= link_to 'Back', assignment_assignment_submissions_path(@assignment), {:class => 'btn btn-info btn-small'}

= render 'form'