development:
  adapter: postgresql
  encoding: unicode
  database: gradetracker_development 
  pool: 5
  username: postgres
  password:
  min_messages: warning

test:
  adapter: postgresql
  encoding: unicode
  database: gradetracker_test
  pool: 5
  username: postgres
  password:
  min_messages: warning

production:
  adapter: postgresql
  encoding: unicode
  database: gradetracker_production
  pool: 5
  username: postgres
  password:
