%table.table
  %tr
    %th
    %th
    %th

  - @user_grade_weights.each do |user_grade_weight|
    %tr
      %td= link_to 'View', user_grade_weight, :class => 'btn btn-mini'
      %td= link_to 'Edit', edit_user_grade_weight_path(user_grade_weight), :class => 'btn btn-mini'
      %td= link_to 'Delete', user_grade_weight, :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete

%div#footerNav
  = link_to 'New User grade weight', new_user_grade_weight_path, :class => 'btn btn-primary'
