%h1 Listing user_grade_weights

%table
  %tr
    %th
    %th
    %th

  - @user_grade_weights.each do |user_grade_weight|
    %tr
      %td= link_to 'Show', user_grade_weight
      %td= link_to 'Edit', edit_user_grade_weight_path(user_grade_weight)
      %td= link_to 'Destroy', user_grade_weight, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User grade weight', new_user_grade_weight_path
