/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui
 *= require jquery.ui.datepicker
 *= require bootstrap
 *= require bootstrap-responsive
 *= require bootstrap-wysihtml5
 *= require flexslider.css
 *= require_tree .
*/

#badgeForm {
width: 100%;
display: inline;
}

.badgeField {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  
}

.badgeField img {
  width: 40px;
}

.badgeField .control-group {
  margin: 0;
  padding: 0;
}


.badgeField .control-group label {
  font-size: 80%;
  text-align: left;
  margin: 0;
  padding: 0; 
  width: 100px;
}

.badgeField .control-group label.checkbox {
  margin: 0;
  padding: 0;
  width: 20px;
}