/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui
 *= require bootstrap
 *= require bootstrap_responsive
 *= require bootstrap_and_overrides
 *= require flexslider.css
 *= require_tree .
 *= require jquery-tablesorter/theme.default
*/

@import url(https://fonts.googleapis.com/css?family=Trocchi);
@import url(http://fonts.googleapis.com/css?family=Monda);

body { 
	font-family: Helvetica, sans-serif;
}


#footer {
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	//background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

.assignmentTypeTitle {
  font-weight: bold;
  font-size: 15px;
  font-family: Trocchi, serif;
}

.hero-unit div.login-demo {
  margin-bottom: 25px;
  margin-left: 20px;
  width: 33%;
  border-radius: 15px;
  background-color: red;
}

.hero-unit div.login-demo div.demo-content {
  padding: 5px 10px;
  margin: 0;
}

.btn-group.pull-right {
  margin-left: 15px;
}

.hero-unit div.login-demo h6 {
  background-color: #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 9px 10px 4px; 
  color: #FFF;
  font-size: 80%;
  margin: 0;
}


.hero-unit div.login-demo.student {
  
  background-color: #2bd42b;
}
