/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require formtastic
*/

html {
  font-family:'Droid Serif',serif;
	background: url('cloud_bg.gif') #99ccff;
}

body {
  	margin: 15px auto;
	width:1000px;
}
a {
  color: #5199ae;
  text-decoration: none;
  &:visited {
    color: #5199ae; }
  &:hover {
    text-decoration: underline; } 
  } 

table {
  background-color: #222;
}  

table, th, td {
  border: 1px solid #c1c50e;
  text-align: left;
  border-collapse:collapse;
  padding: 6px;
  margin: 0px;
}

table {
  width: 930px;
}


th {
  background-color: #111111;
  text-transform: uppercase;
  color: #888;
}

th a {
  display: block;
}

h1#siteTitle{
  padding: 8px 0px 0px;
  float:left;
  font-family:'Copse', serif;
  font-size:2.7em;
  margin-bottom:10px;
  color: #333;
}
h2 {
  color: #c1c50e;
  font-size: 20px;
  
}

h3 {
  margin-left: 15px;
}

#content, #registrationDiv {
  -moz-border-radius: 15px;
	background: url('demo-bg.png') #333333;
  border-radius: 15px;
  box-shadow: 2px 2px 15px #888;
  clear:both;
  margin-top: 20px;
  min-height: 500px;
  padding: 15px 35px 25px;
  width: 932px;
  color: #FFF;
}

#primaryContent {
  left: 200px;
  position: relative;
} 

#footer {
  margin-top: 45px;
  margin-bottom: 0px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

/* Navigation items */

#loginGroup {
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#loginGroup table {
  padding: 30px;
  border-radius: 15px;
  width: 360px;
  -moz-border-radius: 15px;
  background-color: rgba(150,150,150,.7);
}


table#login, table#login tr, table#login th, table#login td {
  border:0px;
  color: #FFF;
}

table#login td {
  padding: 10px 10px 5px;
}

#myInfo{
  float:right;
  padding:8px;
  list-style-type:none;	
}
#myInfo li{
  -moz-border-radius: 5px;
  background-color: #FCC45F;
  border-radius: 5px;
  float:left;
  margin-left:10px;
  opacity:.7;
}
#myInfo li:hover{
  background-color:#ccc;
  opacity:.7;
}
#myInfo li a{
  display:block;
  padding:10px;
  color: #000;
  font-weight: bold;
}
#myInfo li a:hover{
  text-decoration:none;
}

/* nav style full background */

#nav {
  clear:both;
  height:120px;
  padding-bottom:30px;
  width: 1000px;
}
#navGroup, #teamNav, #psaBox{		
  padding:10px 20px;
  float:left; 
  -moz-border-radius: 15px;
  border-radius: 15px;	
}
#navGroup, #teamNav{
  background-color: rgba(150,150,150,.2);	
}
#psaBox{
  background-color: rgba(150,150,150,.4); 
}
.navTitle{
  font-weight:bold;
  padding:10px 20px 10px 10px;
  font-size:1em;
}

#teamNav, #psaBox{
  margin-left:30px;
  display:inline-block;
}
#psaBox{
  height:120px;
  width:190px;
}
#psaBox p a:hover{
  text-decoration:underline;
}

/* nav style header background
#nav {
  clear:both;
  height:120px;
  padding-bottom:30px;
}
#navGroup{
  padding:10px 20px 10px 10px;
  float:left; 	
}
#teamNav, #psaBox{
  padding:10px 20px;
  float:left;
}
.navTitle, #psaBox{
  background-color: rgba(150,150,150,.2);	
}
.navTitle{
  font-weight:bold;
  padding:10px 20px 10px 10px;
  font-size:1em;
  display:block;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#teamNav, #psaBox{
  margin-left:20px;
  display:inline-block;
}
#psaBox{
  height:125px;
  width:190px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#psaBox p a:hover{
  text-decoration:underline;
}
*/
#nav ul {
  list-style-type:none;
  margin: 0;
  padding: 0 0 10px 0;
}
#nav li {
  float:left;
  margin-right:30px;
  text-align:center;
}
#nav li a{
  display: block;
  font-size:1.1em;
  padding-top:90px;
  width:75px;
  color: #0047ae;
}
#nav li a:hover{
  text-decoration:none;
}
#navDashboard a, #navUsers a, #navAssignments a, #navBadges a, #navRankings a, #navChallenges a {
  background-position: 0px 12px;
  background-repeat: no-repeat;
}
#nav a.current{
  background-position:-2px 12px;
}
#navDashboard a{
  background-image:url('navDashboard.png');
}
#navDashboard a.current{
  background-image:url('navDashboardFold.png');	
}
#navUsers a{
  background-image:url('navUsers.png');
}
#navUsers a.current{
  background-image:url('navUsersFold.png');	
}
#navAssignments a{
  background-image:url('navAssignments.png');
}
#navAssignments a.current{
  background-image:url('navAssignmentsFold.png');	
}
#navBadges a{
  background-image:url('navBadges.png');
}
#navBadges a.current{
  background-image:url('navBadgesFold.png');	
}
#navRankings a{
  background-image:url('navRankings.png');
}
#navRankings a.current{
  background-image:url('navRankingsFold.png');	
}
#navChallenges a{
  background-image:url('navChallenges.png');
}
#navChallenges a.current{
  background-image:url('navChallengesFold.png');	
}
#navDashboard a:hover, #navUsers a:hover, #navAssignments a:hover, #navBadges a:hover, #navRankings a:hover, #navChallenges a:hover{
  background-position: -75px 12px;
}

#navDashboard a.current:hover, #navUsers a.current:hover, #navAssignments a.current:hover, #navBadges a.current:hover, #navRankings a.current:hover, #navChallenges a.current:hover {
  background-position: -2px 12px;
}

input#assignment_title, input#badge_title, input#user_email, input#user_password, input#user_password_confirmation, input#challenge_title, input#challenge_points, input#team_name, inpu#badge_icon, input#user_first_name, input#user_last_name, input#badge_icon, input#user_username {
  width: 50%;
}

textarea#challenge_description, textarea#badge_description, textarea#assignment_description {
  width: 60%;
}

input#assignment_point_total {
  width: 100px;
}

th#description {
  width: 250px;
}

th#title {
  width: 200px;
  padding-right: 10px;
}

th#icon {
  width: 50px;
}

.filters {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px;
  border: 1px solid #c1c50e;
  min-width: 912px;
}

.filters input:hover {
  cursor: pointer;
}

/* button styles */
.button, .button:visited, .filters input {
  background: #7F7F7F;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  font-family:'Droid Serif', serif;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}

.filters input {
  border: 0px;
  font-size: 13px;
  font-weight: bold;
}
.button a{
  color:#fff;
  text-decoration:none;
}
.button:active{
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}
.small.button, .small.button:visited{ 
  font-size: 1em;
}
.button, .button:visited, .medium.button, .medium.button:visited{ 
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
 
.large.button, .large.button:visited{ 
  font-size: 1.4em;
  padding: 8px 14px 9px; 
}
 
.super.button, .super.button:visited{ 
  font-size: 1.8em;
  padding: 8px 14px 9px; 
}
.yellow.button, .yellow.button:visited{
  background-color: #FCC45F;
}
.yellow.button:hover{
  background-color: #CCC;	
}
.yellow.button a{
  color:#0047ae;	
}

.submitBtn, .buttons li.commit{
  background: #7F7F7F;
  display: inline-block;
  padding: 2px 10px 2px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}
.submitBtn input, .buttons li.commit input{
  background:none;
  border:none;
  padding:0;
  color:#FFF;
  font-family:'Droid Serif', serif;
  cursor: pointer;
}
.buttons li.commit input{
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  padding:5px;
}
.assignTitle{
  cursor:pointer;
  background: url(assignArrowRt.png) no-repeat left bottom;
  padding-left:25px;
}
.assignTitleOpen{
  background: url(assignArrowDn.png) no-repeat left bottom;
}
#footerNav {
  margin-top: 20px;
  border-top: 1px dotted #ccc;
  padding-top: 15px;
}

#footerNav {
  clear:both;
}