// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* User Profile Visuals */
#content #user{
  margin-left:0;
  font-size:1.8em;	
}
#leftSidebar{
  margin-right: 0;
  float: left;
  width: 300px;
}
#badgesWrapper {
  margin-top: 15px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #222;
  width: 220px;
  padding: 20px 5px 32px;
  height: auto;
  text-align:center;
  font-size: 125%;
}

#badgesEarned {
  height: auto;
  margin: 2px;
  padding: 2px;
  position: relative;
}

.clear {
  height: 5px;
  clear: both;
}

.assignmentGrade {
  color: black;
  font-weight: bold;
}

#badgesWrapper .badge {
  float: left;
  text-align: center;
  height: 90px;
  width: 70px;
  color: #c1c50e;
  font-size: 70%;
  margin-top: 5px;
}

.badge img {
  width: 60px;
}

#badgesWrapper .title {
  text-transform: uppercase;
}

#userGravatar{
  padding-top:20px;
}
#userScoreSection{
  padding-bottom:20px;
}
#userPointValues{
  font-size:1.1em;
}
#scoreToggle{
  color:#5199AE;
  cursor:pointer;
}
#scoreToggle:hover{
  text-decoration:underline;
}
.assignmentTitle, .title {
  font-weight: bold;
}
.assignmentPointsSpan{
  color: green;
  font-size:.8em;
  float:right;
}

.assignmentEdit a {
  font-weight: bold;
  color: #333;
}
.completedAssignment, .incompleteAssignment, .missedAssignment {
  padding: 15px;
  margin-bottom: 2px;
}

.completedAssignment {
  background-color: #a7dc77;
  color: #000;
}

.incompleteAssignment {
  background-color: #666;
}
.missedAssignment {
  background-color: red;
}

#mainInfo {
  width:50%;
  margin-left:300px;
  height:100%;
}

.collapsible {
  background-color: #222;
  padding-bottom: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
}

