// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* User Profile Visuals */
#content #user{
  margin-left:0;
  font-size:1.8em;	
}
#leftSidebar{
  margin-right:0;
  float:left;
  width:0;
}
#badgesWrapper {
  margin-top: 15px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #222;
  width: 175px;
  padding: 15px;
  clear:both;
}

#badgesWrapper .title {
  text-transform: uppercase;
}

#userGravatar{
  width:250px;
  padding-top:20px;
}
.gravatar{
  max-width:100%;
}
#userScoreSection{
  padding-bottom:20px;
}
#userPointValues{
  font-size:1.1em;
}
#scoreToggle{
  color:#5199AE;
  cursor:pointer;
}
#scoreToggle:hover{
  text-decoration:underline;
}
.assignmentTitle, .title {
  font-weight: bold;
}
.assignmentPointsSpan{
  color:green;
  font-size:.8em;
  float:right;
}
.completedAssignment {
  padding: 15px;

  margin-bottom: 15px;
}

.futureAssignment {
  margin-bottom: 15px;
  padding: 15px;
}

#mainInfo {
  width:50%;
  margin-left:300px;
  height:100%;
}

.collapsible {
  background-color: #222;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

