// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* User Profile Visuals */
#content #user{
  margin-left:0;
  font-size:1.8em;	
}
#leftSidebar{
  margin-right:0;
  float:left;
  width:0;
}
#badgesWrapper {
  width: 200px;
  background-color: #eee;
  padding: 15px;
  clear:both;
}
#userGravatar{
  width:250px;
}
.gravatar{
  max-width:100%;
}
#userPointValues{
  font-size:1.1em;
}
#scoreToggle{
  color: #0047ae;
  cursor:pointer;
}
#scoreToggle:hover{
  text-decoration:underline;
}
.assignmentTitle, .title {
  font-weight: bold;
}
.assignmentPointsSpan{
  color:green;
  font-size:.8em;
  float:right;
}
.completedAssignment {
  padding: 15px;
  background-color: #eee;
  margin-bottom: 15px;
}

.futureAssignment {
  margin-bottom: 15px;
  padding: 15px;
}

#loginGroup, #loginGroup tr, #loginGroup td{
  border:0px;
  padding:0;	
}

#mainInfo {
  width:50%;
  margin-left:300px;
  height:100%;
}

