// Place all the styles related to the Grades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#badges {
    padding: 5px 10px 15px;
    
.badgeIcon {
    float: left;
      text-align: center;
      width: 25%;
      font-size: 70%;
      margin-bottom: 10px;
    }
}

div #badges.form {
  
img.unearned, .badgeTitle.unearned {
      opacity: 1;
    }
    
    img.earned {
      opacity: .3;
    }
    
}
    .unEarnedText {
      clear: left;
      text-align: center;
      font-size: 11px;
      line-height: 14px;
    }

.clear {
  clear: both;
}