// Place all the styles related to the Grades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio_label, .radio_button {
  float: right;
}

.radio_label {
  margin-left: 5px;
  margin-right: 15px;
}

.radio_button {
  padding-right: 5px;
}

.gradeable_name {
  margin-right: 10px;
}