// Place all the styles related to the Grades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** Cait's Stylesheet Additions **/
.attendanceBox label {
  width: 100px;
  float: left;
}
table.massGrade, table.massGrade th, table.massGrade tr {
  cellspacing: 0;
  cellpadding: 0;
  border-collapse: collapse;
}


table.massGrade td {
  padding: 0 0 0 10px;
}

#accountForm {
  margin-top: 10px;
}

#badgeSelection li {
  float: left; 
  padding-right: 15px;
}

.gradeUserName {
  text-transform: uppercase;
  font-size: 150%;
  padding: 20px 0px;
  border-top: 1px dotted blue;
}

.user {
  width: 150px;
  float: left;
}
.attendance li {
  float: left;
  padding: 0;
  margin: 0;
  width: 100px;
}