// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeIntro{
  font-size:1.2em;
  width:60%;
  float:left;
}
#homeRegBtn{
  margin-top:20px;
}
#homeArcade{
  float:right;
  width:40%;
  height:400px;
  background:url('arcade.png') no-repeat;
}