// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

.homeArcade{
  background:url('arcade.png') repeat-x bottom left;
  height:500px;
  width:840px;
}
#homeIntro{
  width:100%;
  float:left;
}
#homeIntro p{
  font-size:1em;
  line-height:1.3em;
}
#homeRegBtn{
  margin-top:20px;
}
