// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

#homeIntro{
  font-size:1.2em;
  width:60%;
  float:left;
}
#homeRegBtn{
  margin-top:20px;
}
#homeArcade{
  float:right;
  width:300px;
  height: 420px;
  background:url('arcade.png') no-repeat;
  background-position: bottom;
}

