div.span12 {
  margin-top: 15px;
}

footer {
  margin: 15px 0px;
  text-align: right;
  border-top: 1px solid #666;
  padding-top: 15px;
  height: 60px;
}

/* Course title in the top nav bar */ 
.brand {
  max-width: 300px;
}

.content {
  min-height: 650px; 
}

#pageTitle {
  margin-bottom: 10px;
}

.hero-unit {
  min-height: 550px;
}

#helpInfo div {
  margin-bottom: 10px;
}

.navbar-fixed-bottom {
  height: 40px;
}

span.control-label {
  float: left;
  width: 110px;
  letter-spacing: normal;
  word-spacing: normal;
}

#subNav {
  margin-bottom: 15px;
}

h4, h3, .assignmentTypeTitle {
  padding-bottom: 5px;
  padding-left: 5px;
}

.badge-info a {
  text-decoration: none;
  color: #FFF !important;
}

#team {
  margin-bottom: 15px;
}