// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* User Profile Visuals */
#content #user{
  margin-left:0;
  font-size:1.8em;	
}
#leftSidebar{
  margin-right: 0;
  float: left;
  width: 250px;
}
#badgesWrapper {
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #222;
  width: 220px;
  padding: 20px 5px 32px;
  text-align:center;
  font-size: 125%;
  clear: both;
  min-height: 200px;
}

#badgesEarned {
  height: auto;
  margin: 2px;
  padding: 2px;
  position: relative;
}

#badgesWrapper .badgeIcon {
  float: left;
  text-align: center;
  height: 100px;
  width: 70px;
  font-size: 70%;
  margin-top: 5px;
}

#badgesWrapper .title {
  text-transform: uppercase;
  color: #FFF;
}

#badgesWrapper .badgeTitle {
  line-height: 14px;
  font-size: 11px;
}
#badgesWrapper img {
  width: 50px;
}

#badgesWrapper img.unearned {
  opacity: .1;
}

.clear {
  height: 5px;
  clear: both;
}

#userScoreSection {
  background-color:#222;
  border-radius:10px;
  margin-bottom:15px;
  min-height:250px;
  text-align: left;
  padding:10px 0;
  width: 700px;
  padding: 20px;
  color: #FFF;
}

#userScoreSection a {
  color: #7fabfc;
  text-decoration: none;
}
#userPointValues{
  color:#fff;
  font-size:1.3em;
}
#scoreToggle{
  color:#5199AE;
  cursor:pointer;
}
.dashboard-toggle .highcharts-container{
  margin:0 auto;
  width:90%;
}
#scoreToggle:hover{
  text-decoration:underline;
}

.assignmentType {
  margin-bottom: 10px;
}
.assignmentTypeTitle {
  font-size: 16px;
  color: orange;
  padding-bottom: 10px;
  font-weight: bold;
}

.assignmentsGroup {
  padding: 15px;
  margin-bottom: 10px; 
}

.feedback {
  padding: 15px
}
.assignmentTitle {
  font-size: 14px;
  color: #61cbf9;
}
.assignmentPointsSpan {
  color: green;
  font-size:.8em;
  float:right;
}

.assignmentEdit a {
  font-weight: bold;
  color: #333;
}

.completedAssignment, .incompleteAssignment, .missedAssignment {
  margin-bottom: 2px;
}

.incompleteAssignment {
  background-color: #999;
  color: #000;
}
.missedAssignment {
  background-color: #ffaea2;
  color: #000;
}

#mainInfo {
  margin-left:250px;
  height:100%;
}

.editLink {
  float: right;
}

#predictorLink {
  padding:10px 0;
  font-size:1.1em;
}

// Predictor

#predictorPage {
  margin-top: 110px;
  
}

#predictorPage .pageTitle {
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
  margin-bottom: 10px;
}

	#predictorBar {
  	width: 100%;
  	height: 200px;
	}
	 
	.slide-panel {
  	background-color: #eee;
  	border-radius: 15px;
  	padding: 25px;
  	margin: 0px 15px;
	}

	.slides {
  	margin-bottom: 15px;
	}
	
	.headline {
  	font-weight: bold;
  	text-transform: uppercase;
  	font-size: 15px;
	}

	.slider{
    height:1em;
	  padding:0;
	  width:60%;
	  margin-bottom: 15px;
	}
	
	.assignmentTitle {
  	margin-bottom: 4px;
	}
	
	#predictorPage input[type=text] {
  	background-color: #eeeeee;
  	border: none;
  	box-shadow: none;
  	color: green;
  	margin: -4px 10px 0px;
	}
	
	div.assignment {
  	margin-bottom: 15px;
	}
	
	#predictorPage select {
  	margin: -4px 10px;
	}
	
	#predictorPage input[type=checkbox].class-checkbox {
  	margin: 0px 10px;
	}
	
	#predictorPage .grade {
  	margin-left: 10px;
	}
	
	// STRIP BELOW HERE
	
	
  #predictionWrapper{	
  	background-color:rgba(55,55,55,.96);
    border-top:5px solid #2F96B4;
    border-bottom:5px solid #2F96B4;
    border-left:5px solid #2F96B4;        
    border-top-left-radius:10px;
    border-bottom-left-radius:10px; 	
  	color:#fff;
  	padding:15px 0 10px 10px;
  	position: fixed;
  	top: 50px;
  	height: 125px;
    right:0;
  	text-align:center;
  	width: 100%;
  	z-index:3;			
  }
		#projectedPoints{
	  cursor:pointer;
	}
	#projectedPoints p{
    margin:0 auto;
	  width:60%;
	}
	#predictionWrapper.toggleOn{
	  display:block;
	  max-width:1000px;
	  min-width:850px;
	}
	.highcharts-grid{
	  width:1000px;
	}
	#prediction{
		color:#FFF;
		display:none;
		padding-top:20px;
	}
	#score{	
	  margin-right:10px;
	}
	.gradeSection{
    clear:both
  }
	.select-checkboxes{
		float:left;
		width:100%;
	}
	.checkbox-group legend{
    border:0;
		font-weight:bold;
		padding:10px 0px;
	}
	#predictionToggle{
	  color:#FFF;
	  float:left;
	  padding-left:10px;
	}
	#expectedPointsValue{
	  font-size:1.3em;
	  text-align:center;
	}
	fieldset{
	  margin-top:10px;
	}
	.checkbox-group{
		width:20%;
		float:left;
	}
	section.slider{
    height:1em;
	  padding:0;
	  width:60%;
	}
	.slider-value{
		display:block;
		padding:10px 0;
	}
	.slider .ui-slider-range { 
	  background: #8ae234; 
	}
	#predictorWrapper fieldset, #predictorWrapper input{
		border:none;
	}
	