// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* User Profile Visuals */
#content #user{
  margin-left:0;
  font-size:1.8em;	
}
#leftSidebar{
  margin-right: 0;
  float: left;
  width: 250px;
}
#badgesWrapper {
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #222;
  width: 220px;
  padding: 20px 5px 32px;
  text-align:center;
  font-size: 125%;
  clear: both;
}

#badgesEarned {
  height: auto;
  margin: 2px;
  padding: 2px;
  position: relative;
}

#badgesWrapper .earned-badge {
  float: left;
  text-align: center;
  height: 100px;
  width: 70px;
  font-size: 70%;
  margin-top: 5px;
}
#badgesWrapper .title {
  text-transform: uppercase;
  color: #FFF;
}

#badgesWrapper .badgeTitle {
  line-height: 14px;
  font-size: 11px;
}
.badge img {
  width: 60px;
}

.clear {
  height: 5px;
  clear: both;
}

#userScoreSection {
  background-color:#222;
  border-radius:10px;
  margin-bottom:15px;
  min-height:250px;
  text-align: left;
  padding:10px 0;
  width: 700px;
  padding: 20px;
  color: #FFF;
}

#userScoreSection a {
  color: #7fabfc;
  text-decoration: none;
}
#userPointValues{
  color:#fff;
  font-size:1.3em;
}
#scoreToggle{
  color:#5199AE;
  cursor:pointer;
}
.dashboard-toggle .highcharts-container{
  margin:0 auto;
  width:90%;
}
#scoreToggle:hover{
  text-decoration:underline;
}
.assignmentTypeTitle {
  font-size: 16px;
  color: orange;
  padding-bottom: 10px;
  font-weight: bold;
}

.assignmentsGroup {
  padding: 15px;
  margin-bottom: 10px; 
}

.feedback {
  padding: 15px
}
.assignmentTitle {
  font-size: 14px;
  color: #61cbf9;
}
.assignmentPointsSpan {
  color: green;
  font-size:.8em;
  float:right;
}

.assignmentEdit a {
  font-weight: bold;
  color: #333;
}

.completedAssignment, .incompleteAssignment, .missedAssignment {
  margin-bottom: 2px;
}

.completedAssignment {
}

.incompleteAssignment {
  background-color: #999;
  color: #000;
}
.missedAssignment {
  background-color: #ffaea2;
  color: #000;
}

#mainInfo {
  margin-left:250px;
  height:100%;
}

.editLink {
  float: right;
}

#predictorLink {
  padding:10px 0;
  font-size:1.1em;
}

// Predictor

  #predictionWrapper{	
  	background-color:rgba(55,55,55,.96);
    border-top:5px solid #2F96B4;
    border-bottom:5px solid #2F96B4;
    border-left:5px solid #2F96B4;        
    border-top-left-radius:10px;
    border-bottom-left-radius:10px; 	
  	color:#fff;
  	padding:10px 0 10px 10px;
  	position:fixed;
  	top:120px;
    right:0;
  	text-align:center;
  	max-width:250px;
  	z-index:3;			
  }
	#pointsArw{
    background: url(arrow.png) no-repeat;
	  display:block;
	  height:17px;
	  left:15px;
	  overflow:hidden;
	  position:relative;	  
	  top:30px;	  
	  width:17px;
	}
  #pointsArw.toggleOn{
    background-position:-17px 0;
  }
	#projectedPoints{
	  cursor:pointer;
	}
	#projectedPoints p{
    margin:0 auto;
	  width:60%;
	}
	#predictionWrapper.toggleOn{
	  display:block;
	  max-width:500px;
	  min-width:250px;
	}
	.highcharts-grid{
	  width:100px;
	}
	#prediction{
		color:#FFF;
		display:none;
		padding-top:20px;
	}
	#score{	
	  margin-right:10px;
	}
	.gradeSection{
    clear:both
  }
	.predictor-assignment-title{
	  font-family:'Copse', serif;		
	}
	.predictor-subtitle{
	  font-weight:bold;
	}
	.select-checkboxes{
		float:left;
		width:100%;
	}
	.checkbox-group legend{
    border:0;
		font-weight:bold;
		padding:10px 0px;
	}
	#predictionToggle{
	  color:#FFF;
	  float:left;
	  padding-left:10px;
	}
	#expectedPointsValue{
	  font-size:1.3em;
	  text-align:center;
	}
	fieldset{
	  margin-top:10px;
	}
	.checkbox-group{
		width:20%;
		float:left;
	}
	.predictor-assignment-title{
		font-size:1.3em;
		margin:0;
	}
	.assignmentDescription{
	  font-style:italic;
	}
	section.slider{
    height:1em;
	  padding:0;
	  width:80%;
	}
	.slider-value{
		display:block;
		padding:10px 0;
	}
	.slider .ui-slider-range { 
	  background: #8ae234; 
	}
	#predictorWrapper fieldset, #predictorWrapper input{
		border:none;
	}
	

