= form_tag password_resets_path, :method => :post, :html => { :class => "forgot"} do
  %input{:type => "text", :class => "input", :placeholder => "Email" }
  %br
  %input{:name => "commit", :type => "submit", :value => "Create a New Password", :class => "btn btn-inverse"}