%form.well 
  %h3 Login
  = form_tag user_sessions_path, :method => :post do
    %input{:type => "text", :class => "input", :placeholder => "Email" }
    %input{:type => "password", :class => "input", :placeholder => "Password" }
    %input{:type => "checkbox", :remember_me => 1}  Remember me
    %button{:type => "submit", :class => "btn btn-primary" } Login
