= form_tag password_resets_path, :method => :post do
  .field
  = label_tag :email
  = text_field_tag :email
  %br
  %input{:name => "commit", :type => "submit", :value => "create a new password", :class => "btn btn-inverse"}
