= render 'form'

%br
%h2 Create Your New Password:
%span Please enter your @umich.edu email address, and you'll receive a link 
%br via email that will allow you to create a new password for your account.
= render 'forgot_password_form'

%div#footerNav
  = link_to 'Back', user_sessions_path, :class => "btn btn-inverse"
