= render 'form'

%form.well.alert-info
  %h3 Forgot Your Password?
  %span Enter the email address associated with your account, and you'll  
  %br receive a link via email that will allow you to create a new password.
  = render 'forgot_password_form'

%div#footerNav
  %span.button= link_to 'Back', user_sessions_path
