%h1 Admin Dashboard
%h3= link_to "View All Students", users_url
%h3= link_to "View All Grades", grades_url
%h3 Select a Specific Student
%h3 Grade Reading Reactions
%h3 Grade Attendance
%h3= link_to "Grade an Assignment", new_grade_url
%h3 Grade a Team Challenge
%h3 View Game Design Groups