%h3 My Students
%table
  %tr
    %th Username
    %th First Name
    %th Last Name
    %th Score
    %th Preview

%h3= link_to "View All Assignments", assignments_url
%h3= link_to "View All Grades", grades_url
%h3= link_to "Grade an Assignment", new_grade_url
%h3= link_to "Grade a Team Challenge", new_challenge_grades_url