%h1#user= @current_user.username

%h2#points Current Points Total/Available Points

%h2#grading Grades & Assignments

%h3#attendance Attendance

%h3#reading Reading Reactions

%h3#blogging Blogging

%h3.papers
  Game Selection Paper: 
  = current_user.grades.first.score

%h3.papers Game Play Update Poster 1

%h3.papers Game Play Update Poster 2

%h3.papers Game Play Reflection Paper

%h3.papers Individual Paper/Project 1

%h3.papers Individual Paper/Project 2

%h3.papers Group Game Design Project

%h3
  Badges Earned:
  - current_user.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title}