Professor & Master Game Designer: Barry Fishman, University of Michigan
%br
Game Developer: Caitlin Holman, University of Michigan
%br
Game Developer: Scott Tsuchiyama, University of Michigan
%br 
Badges Designed by: <a href="http://mattrich.deviantart.com/" target="_blank">mattrich</a>