%div.hero-unit
  %h2 Site Credits
  %br
  %p.lead Barry Fishman, University of Michigan, Professor & Master Game Designer
  %p.lead Cait Holman, University of Michigan, School of Information, Doctoral Student
  %br
  %br
  %h4 Primary Instigator: Scott Tsuchiyama 
  %br
  %h4 Badges Designed by <a href="http://mattrich.deviantart.com/" target="_blank">mattrich</a>
  %br
  %h6 Special Thanks to:
  %div
    %h6 Cory Kaufman-Schofield
    %h6 Kevin Champion
    %h6 Alan Gutierrez
    %h6 Chad LaJoie
    %h6 Steve Schwartz