%div.jumbotron
  %h3 Site Credits
  %div
    %ul.no_bullet
      %li Barry Fishman, University of Michigan, Professor & Master Game Designer
      %li Cait Holman, University of Michigan, School of Information, Doctoral Student
      %li Stephen Aguilar, University of Michigan, School of Education, Doctoral Student
      %li Badges Designed by <a href="http://mattrich.deviantart.com/" target="_blank">mattrich</a>
  %hr
  %h3 Special Thanks to:
  %div
    %ul.no_bullet
      %li Cory Kaufman-Schofield
      %li Scott Tsuchiyama 
      %li Kevin Champion
      %li Alan Gutierrez
      %li Chad LaJoie
      %li Steve Schwartz