%span.professor Professor & Master Game Designer: Barry Fishman, University of Michigan
%br
%span.team Grade Tracker Team: Cait Holman and Scott Tsuchiyama
%br
%br
%span.thanks Badges Designed by <a href="http://mattrich.deviantart.com/" target="_blank">mattrich</a>
%br
%span.thanks Special Thanks to Cory Kaufman and Kevin Champion

