%div.jumbotron
  %h3 Using Gradecraft
  %div 
    %p Our intent is to create a tool that makes it easy for anyone to create a gameful course assessment system. We're piloting a new and more generalizable version of GradeCraft during the fall semester of 2012, and our hope is that we can make it available for anyone to use by January 2013.
  
    Please <a href="mailto:cholma@umich.edu">get in touch with us</a> if you're interested in being involved!